.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 32px;
  width: calc(100% - 64px);
  height: 100%;
  margin: 200px auto 200px auto;
  max-width: 800px;
  padding: 32px;
  border-radius: 32px;
  background-color: #00000009;
}

@media (max-width: 970px) {
  .main-container {
    margin: 200px 5%;
    width: calc(100% - 64px - 10%);
  }
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 48px);
  position: absolute;
  top: 0;
  padding: 24px;
}

.header-container .header-logo img {
  width: 150px;
}


