.container-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left; 
}

.container-input  label{
    font-size: 20px;
}

.container-input
.input-text{
    height: 52px;

    font-size: 20px;
    color: #344054;
 
    display: flex;

    border: 2px solid #D9D9D9;
    border-radius: 50px;
    outline: none;

    padding: 0 20px;

    cursor: pointer;


}
