.custom-input-mask {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: left;
}

.custom-input-mask label {
  font-size: 20px;
}

.input-mask {
  height: 52px;

  font-size: 20px !important;
  font-family: Plus Jakarta Sans !important;
  color: #344054;

  display: flex;

  border: 2px solid #d9d9d9;
  border-radius: 20px;
  outline: none;

  padding: 0 24px;

  cursor: pointer;
}
